
<!-- Header Section Ends -->
<!-- Slider Section Starts -->
	<div class="slider">
		<div class="container">
			<div id="main-carousel" class="carousel slide" data-ride="carousel">
				<!-- Wrapper For Slides Starts -->
					<div class="carousel-inner">
						<div class="item active">
							<%= image_tag("pretties.jpg", alt: "banners", class: "img-responsive" ) %>
						</div>
						<div class="item">
							<%= image_tag("sale.jpg", alt: "banners", class: "img-responsive" ) %>
						</div>
					</div>
				<!-- Wrapper For Slides Ends -->
				<!-- Controls Starts -->
					<a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				<!-- Controls Ends -->
			</div>
		</div>
	</div>
<!-- Slider Section Ends -->
<!-- 3 Column Banners Starts -->
	<div class="col3-banners">
		<div class="container">
			<ul class="row list-unstyled">
				<li class="col-sm-4">
					<%= image_tag("3col-banner1.png", alt: "banners", class: "img-responsive" ) %>
				</li>
				<li class="col-sm-4">
					<%= image_tag("3col-banner2.png", alt: "banners", class: "img-responsive" ) %>
				</li>
				<li class="col-sm-4">
					<%= image_tag("3col-banner3.png", alt: "banners", class: "img-responsive" ) %>
				</li>
			</ul>
		</div>
	</div>
<!-- 3 Column Banners Ends -->
<!-- Featured Products Starts -->
	<section class="products-list">
		<div class="container">
		<!-- Heading Starts -->
			<h2 class="product-head">Popular Products</h2>
			<div class="row">
				<% @popular.each do |p| %>
					<div class="col-md-3 col-sm-6">
						<div class="product-col">
							<div class="image">
								<!-- <img src="images/product-images/5.jpg" alt="product" class="img-responsive" /> -->
	              <%= link_to product_path(p) do %>
	                <%= get_photo(p.photos) %>
	              <% end %>
							</div>
							<div class="caption">
								<h4>
	                <%= link_to(p.title ,product_path(p)) %>
								</h4>
								<div class="description">
									<%= p.description %>
								</div>
								<div class="price">
									<span class="price-new">$<%= discount_price(p.price) %></span>
									<span class="price-old">$<%= p.price %></span>
								</div>
								<div class="cart-button button-group">
	                <% if p.quantity > 0 %>
	                  <%= button_to add_to_cart_product_path(p), :class => "btn btn-cart", :method=> :post do %>
											Add to cart<i class="fa fa-shopping-cart"></i>
										<% end %>
	                <% else %>
	                  <p>已售完,補貨中</p>
	                <% end %>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</section>
	<div class="col2-banners">
		<div class="container">
			<ul class="row list-unstyled">
				<li class="col-sm-4">
					<%= image_tag("2col-banner1.png",class:"img-responsive" )%>
				</li>
				<li class="col-sm-8">
					<%= image_tag("2col-banner2.png",class:"img-responsive" )%>
				</li>
			</ul>
		</div>
	</div>
<!-- 2 Column Banners Ends -->
<!-- Latest Products Starts -->
	<section class="products-list">
		<div class="container">
		<!-- Heading Starts -->
			<h2 class="product-head">Latest Products</h2>
		<!-- Heading Ends -->
		<!-- Products Row Starts -->
			<div class="row">
			<!-- Product #1 Starts -->
			<% @latest.each do |last| %>
				<div class="col-md-3 col-sm-6">
					<div class="product-col">
						<div class="image">
							<!-- <img src="images/product-images/5.jpg" alt="product" class="img-responsive" /> -->
              <%= link_to product_path(last) do %>
                <%= get_photo(last.photos) %>
              <% end %>
						</div>
						<div class="caption">
							<h4>
                <%= link_to(last.title ,product_path(last)) %>
							</h4>
							<div class="description">
								<%= last.description %>
							</div>
							<div class="price">
								<span class="price-new">$<%= discount_price(last.price) %></span>
								<span class="price-old">$<%= last.price %></span>
							</div>
							<div class="cart-button button-group">
                <% if last.quantity > 0 %>
                  <%= button_to add_to_cart_product_path(last), :class => "btn btn-cart", :method=> :post do %>
										Add to cart<i class="fa fa-shopping-cart"></i>
									<% end %>
                <% else %>
                  <p>已售完,補貨中</p>
                <% end %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
			<!-- Product #1 Ends -->
			</div>
		<!-- Products Row Ends -->
		</div>
	</section>
