<!--
<div class="container">
    <div class="check-out">
      <div class="row">
         <div class="col-md-12">

    <h2> 購物明細 </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">商品明細</th>
          <th>單價</th>
        </tr>
      </thead>
      <tbody>

        <% current_cart.items.each do |product| %>
          <tr>
            <td>
              <%= link_to(product.title, product_path(product)) %>
            </td>
            <td>
              <%= product.price %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        總計 <%= render_cart_total_price(current_cart) %> NTD
      </span>
    </div>

    <hr>

    <h2> 訂單資訊 </h2>

    <div class="order-form">

      <%= simple_form_for @order do |f| %>

        <%= f.simple_fields_for :info do |c| %>

          <legend> 訂購人</legend>
          <div class="form-group col-lg-6">
            <%= c.input :billing_name  %>
          </div>
          <div class="form-group col-lg-6">
            <%= c.input :billing_address  %>
          </div>

          <legend> 收貨人</legend>
          <div class="form-group col-lg-6">
           <%= c.input :shipping_name  %>
          </div>
          <div class="form-group col-lg-6">
            <%= c.input :shipping_address  %>
          </div>
        <% end %>

        <div class="checkout">
          <%= f.submit "生成訂單", class: "btn btn-lg btn-danger pull-right",
                       data: { disable_with: "Submitting..." } %>
        </div>
      <% end %>

        </div>
      </div>
    </div>
  </div>
</div> -->


<section class="registration-area">
  <div class="row">
  <!-- Shipping & Shipment Block Starts -->
    <div class="col-sm-6 col-sm-offset-3">
    <!-- Taxes Block Starts -->
      <div class="panel panel-smart">
        <div class="panel-heading">
          <h3 class="panel-title">
            Shipping &amp; Taxes
          </h3>
        </div>
        <div class="panel-body">
        <!-- Form Starts -->
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="inputCountry" class="col-sm-3 control-label">Country :</label>
              <div class="col-sm-9">
                <select class="form-control" id="inputCountry">
                  <option>- All Countries -</option>
                  <option>India</option>
                  <option>USA</option>
                  <option>UK</option>
                  <option>China</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="inputRegion" class="col-sm-3 control-label">Region :</label>
              <div class="col-sm-9">
                <select class="form-control" id="inputRegion">
                  <option>- All Regions -</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="inputZipCode" class="col-sm-3 control-label">Zip Code :</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="inputZipCode" placeholder="Zip Code">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default">
                  Get Info
                </button>
              </div>
            </div>
          </form>
        <!-- Form Ends -->
        </div>
      </div>
    <!-- Taxes Block Ends -->
    <!-- Shipment Information Block Starts -->
      <div class="panel panel-smart">
        <div class="panel-heading">
          <h3 class="panel-title">
            Shipment Information
          </h3>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" role="form">

            <%= simple_form_for @order do |f| %>

              <%= f.simple_fields_for :info do |c| %>
                <div class="form-group">
                  <label for="inputFname" class="col-sm-3 control-label">訂購人姓名:</label>
                  <div class="col-sm-9">
                    <%= c.input :billing_name  %>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputFname" class="col-sm-3 control-label">訂購人地址:</label>
                  <div class="col-sm-9">
                    <%= c.input :billing_address  %>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputFname" class="col-sm-3 control-label">收件人姓名:</label>
                  <div class="col-sm-9">
                    <%= c.input :shipping_name  %>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputFname" class="col-sm-3 control-label">收件人地址:</label>
                  <div class="col-sm-9">
                    <%= c.input :shipping_address  %>
                  </div>
                </div>
              <% end %>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <%= f.submit "生成訂單", class: "btn btn-warning",data: { disable_with: "Submitting..." } %>
                </div>
              </div>
            <% end %>
          </form>
        </div>
      </div>
    <!-- Shipment Information Block Ends -->
    </div>
  <!-- Shipping & Shipment Block Ends -->
  </div>
</section>
