
<h2>新增產品</h2>
<%= simple_form_for [:admin, @product], :html => { :multipart => true } do |f| %>
	<div class="group">
	  <%= f.input :title %>
	  <%= f.input :description %>
	  <%= f.input :quantity %>
	  <%= f.input :price %>
		<%= f.simple_fields_for :photo do |c| %>
      <%= c.input :image,:input_html => { :multiple => true },name: "photo[][image]", as: :file %>
    <% end %>
		<%= f.input :category_id, collection: @categories, prompt: 'Choose one' %>
		<%= f.input :brand_id, collection: @brands, prompt: 'Choose Brand' %>
		<%= f.input :gender, collection: [['Men', 1], ['Women', 2]], prompt: 'Choose Gender' %>
	</div>
	<div class="group">
		<%= f.submit "Submit", :class =>"btn btn-default", data: {disable_with: "Submitting.."} %>
	</div>
<% end %>
