<!--

<div class="content">
  <div class="container">
     <h3 class="future-men"><%= @title %></h3>
      <div class="content-product col-md-9">
       <% @products.each do |product| %>
           <div class="men-grid in-men col-sm-3">
             <%= link_to product_path(product) do %>
               <%= get_photo(product.photos) %>
             <% end %>
             <%= product.title %>
             $
             <%= product.price %>
           </div>
       <% end %>
       <div class="apple_pagination">
           <%= will_paginate @products %>
       </div>
     </div>
     <div class="content-product col-md-3">
       <%= render"common/sidebar" %>
     </div>
   </div>
</div>  -->
