
<head>

	<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
	<!--//fonts-->
</head>
<!---->
<div class="container">
	<div class="single">
		<div class="col-md-9">
			<div class="single_grid">
				<div class="grid images_3_of_2">
					<% if @product.photo.present? %>
						<%= image_tag(@product.photo.image.thumb.url, class: "etalage_thumb_image img-responsive") %>
					<% else %>
						<%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
					<% end %>
						<!-- <li>
							<img class="etalage_thumb_image img-responsive" src="images/sin1.jpg" alt="">
							<img class="etalage_source_image img-responsive" src="images/sin-2.jpg" alt="">
						</li>
						<li>
							<img class="etalage_thumb_image img-responsive" src="images/sin.jpg" alt="">
							<img class="etalage_source_image img-responsive" src="images/sin-1.jpg" alt="">
						</li>
						<li>
							<img class="etalage_thumb_image img-responsive" src="images/sin2.jpg" alt="">
							<img class="etalage_source_image img-responsive" src="images/sin-3.jpg" alt="">
						</li> -->

					<div class="clearfix"></div>
				</div>
				<div class="span1_of_1_des">
					<div class="desc1">
						<h3><%= @product.title %></h3>
						<p><%= @product.description %></p>
						<h5>$<%= @product.price %>
							<a href="#">click for offer</a>
						</h5>
						<div class="available">
							<!-- <h4>Available Options :</h4>
							<ul>
								<li>Size:
									<select>
										<option>L</option>
										<option>XL</option>
										<option>S</option>
										<option>M</option>
									</select>
								</li>
								<li>Quality:
									<select>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</li>
							</ul> -->
							<div class="share-desc">
								<ul>
									<li>
										<i class="fa fa-tags" aria-hidden="true">
											<%= link_to(@category.name ,products_path(category: @category.name) ) %>
										</i>
									</li>
									<li>
										<i class="fa fa-tags" aria-hidden="true">
											<%= link_to(I18n.t("gender.#{@product.gender}") ,products_path(gender: @product.gender) ) %>
										</i>
									</li>
									<li>
										<i class="fa fa-tags" aria-hidden="true">
											<%= link_to(@brand.name ,products_path(category: @brand.name) ) %>
										</i>
									</li>
							</div>
							<div class="form-in">
								<!-- <a href="#" class="hvr-shutter-in-horizontal">Add To Cart</a> -->
								<% if @product.quantity > 0 %>
									<%= link_to("加入購物車", add_to_cart_product_path(@product), method: :post, :class => "hvr-shutter-in-horizontal") %>
								<% else %>
									<p>已售完,補貨中</p>
								<% end %>
							</div>
						</div>
						<!-- <div class="share-desc">
							<div class="share">
								<h4>Share Product :</h4>
								<ul class="share_nav">
									<li>
										<a href="#"><img src="images/facebook.png" title="facebook"></a>
									</li>
									<li>
										<a href="#"><img src="images/twitter.png" title="Twiiter"></a>
									</li>
									<li>
										<a href="#"><img src="images/rss.png" title="Rss"></a>
									</li>
									<li>
										<a href="#"><img src="images/gpluse.png" title="Google+"></a>
									</li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div> -->
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<!---->
			<div class=" possible-single">
				<h4>More Dscription:</h4>
				<div class="tab1">
					<ul class="place">
						<li><%= image_tag("cir.png") %></li>
						<li>退換貨</li>
					</ul>
					<ol class="notes_list" style="display: none;">
						<li>依照消費者保護法規定，消費者於本公司網站消費均享有商品到貨七日猶豫期(非試用期)，於前開期間內得不附理由退回商品或以書面通知本公司解除買賣契約，無須負擔任何費用或價款。
						</li>
						<li>猶豫期間之退(換)貨商品必須是全新狀態且包裝完整 ( 包括且不限於產品、附件、包裝、廠商紙箱及所有附隨文件或資料之完整性 ) ，否則恕不接受退(換)貨。
						</li>
						<li>消費者因檢查之必要手段或因不可歸責消費者之事由，致商品有毀損滅失或變更之情形，本公司雖不得拒絕消費者之退(換)貨，但得按商品毀損滅失程度收取回復原狀之費用。
						</li>
						<li>商品說明頁或商品規格頁如有退(換)貨條件之記載不得被視為商品退(換)貨條件，本公司商品退(換)貨條件仍以前開條款及附表為準。
						</li>
					</ol>
				</div>
				<div class="tab2">
					<ul class="place">
						<li><%= image_tag("cir.png") %></li>
						<li>付款運送</li>
					</ul>
					<ul class="notice_box">
						<ol class="notes_list" style="display: none; overflow: hidden;">
							<li>訂單以實際付款成功時間做為優先交易之判定，商品出貨順序係按照付款完成的順序，售完為止。
							</li>
							<li>
								<strong>付款方式</strong>
								<ul>
									<li>宅配商品請您選擇信用卡線上刷卡 、WebATM線上轉帳或親至ATM轉帳。
									</li>
									<li>超商取貨商品請您至便利商店取貨時，當場現金付款。
									</li>
									<li>若本商品提供信用卡分期付款，請您依照不同期數可接受之銀行信用卡付費，謝謝。
									</li>
								</ul>
							</li>
							<li>
								<strong>商品運送</strong>
								<ul>
									<li>除特別標示說明外，一般商品免運費。
									</li>
									<li>宅配商品將以宅配、貨運或郵局方式送達，運送區域僅限於台灣本島（外島地區的朋友請利用台灣親友地址做為收貨地址）。
									</li>
									<li>超商取貨商品請自行選擇取貨門市，商品到指定門市後，系統將發送簡訊及Email提醒您取貨付款。
									</li>
									<li>商品將於3~5個工作天內（不含例假日）運送至指定地點， 若訂購雜誌、預購、客製或需約定出貨日等特殊商品，依
										<font color="red">網頁說明時間出貨
										</font>。
									</li>
								</ul>
							</li>
							<li>
								<strong>發票寄送</strong>
								<ul>
									<li>本站已採用電子發票，發票開立後將以E-MAIL通知您<!--，請您至-->
										<!-- <a href="/order/ListMyOrderMenu.do?module=list">「訂單查詢」</a>查詢發票資料。 -->
									</li>
									<li>若您選擇三聯式或索取二聯式紙本發票，發票將於商品完成出貨15個工作天另行寄出，另約加2-7個工作天內送達，如遇國定假日將順延寄送。
									</li>
								</ul>
							</li>
						</ol>

					</ul>
				</div>
				<div class="tab3">
					<ul class="place">
						<li><%= image_tag("cir.png") %></li>
						<li>客戶服務</li>
					</ul>
					<ol class="notes_list" style="display: none;">
						<li>
							<strong>維修說明：</strong>
							<ul>
								<li>若商品已超過七天猶豫期的退換貨時效，商品僅提供維修服務，請恕不接受退換貨。
								</li>
			      <li>消費者可透過產品所附之保固卡、維修中心的原廠資訊或是維修聯絡資料，自行與保固或維修廠商諮詢維修相關資訊；若消費者遺失保固卡或不清楚維修廠商資訊，均可與本站客服中心聯絡，將由客服代為查詢維修資訊。
			      </li>
			      <li>商品維修若採郵寄方式處理，一般是由消費者自行負擔寄回商品的運費，維修廠商則負擔寄還商品的運費，實際因維修產生的運費，均以保固或維修廠商所提供之服務為準。
			      </li>
			      <li>一般商品送修時間大約7-14個工作天，實際將視個別商品的損害情形以及維修廠商判定維修時間為主。
			      </li>
			      <li>消費者所寄回的維修商品若已經超過保固期或非商品本身造成之人為損壞而發生檢修費用，將由廠商告知報價後通知消費者，再由消費者決定是否繼續維修。
			      </li>
			    </ul>
			    </li>
			    <li>本網站部份商品由遠東百貨、太平洋SOGO、愛買量販店所提供，商品售價及活動優惠以本網站標示為準。
			    </li>
			  </ol>
				</div>
				<!--script-->
				<script>
					$(document).ready(function () {
						$(".tab1 .notes_list").hide();
						$(".tab2 .notes_list").hide();
						$(".tab3 .notes_list").hide();
						$(".tab1 ul").click(function () {
							$(".tab1 .notes_list").slideToggle(500);
							$(".tab2 .notes_list").hide();
							$(".tab3 .notes_list").hide();
						})
						$(".tab2 ul").click(function () {
							$(".tab2 .notes_list").slideToggle(500);
							$(".tab1 .notes_list").hide();
							$(".tab3 .notes_list").hide();
						})
						$(".tab3 ul").click(function () {
							$(".tab3 .notes_list").slideToggle(500);
							$(".tab2 .notes_list").hide();
							$(".tab1 .notes_list").hide();
						})
					});
				</script>
				<!-- script -->
			</div>
			<!---->
		</div>
		<!---->
		<div class="col-md-3">
			<%= render"common/sidebar"  %>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<!---->
