<div id="main-container" class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Women</li>
    </ol>
    <div class="slider">
      <div class="container">
        <div id="main-carousel" class="carousel slide" data-ride="carousel">
          <!-- Wrapper For Slides Starts -->
            <div class="carousel-inner">
              <div class="item active">
                <%= image_tag("women2.jpg", alt: "banners", class: "img-responsive" ) %>
              </div>
              <div class="item">
                <%= image_tag("women2_c.jpg", alt: "banners", class: "img-responsive" ) %>
              </div>
              <div class="item">
                <%= image_tag("women_c.jpg", alt: "banners", class: "img-responsive" ) %>
              </div>
            </div>
          <!-- Wrapper For Slides Ends -->
          <!-- Controls Starts -->
            <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          <!-- Controls Ends -->
        </div>
      </div>
    </div>
    <div class="col-md-9">
    <!-- Product Filter Starts -->
      <%= render :partial => "products/filter" %>
      <div id="product_list_area">
        <%= render :partial => "products/list", :locals => { :products  => @products } %>
      </div>
      <div id="product_grid_area">
        <%= render :partial => "products/grid", :locals => { :products  => @products } %>
      </div>
    </div>
    <div class="col-md-3">
    <!-- Categories Links Starts -->
      <%= render"common/side" %>
    <!-- Bestsellers Links Ends -->
    </div>

  </div>
</div>
