<h3 class="side-heading">Categories</h3>
<div class="list-group">
  <% cache Category.order('updated_at DESC').last do %>
    <% Category.find_each do |c| %>
      <%= link_to categories_products_path(category: c.name),class: "list-group-item" do %>
        <i class="fa fa-chevron-right"></i><%= c.name %>
      <% end %>
    <% end %>
  <% end %>
</div>
<!-- Categories Links Ends -->
<!-- Shopping Options Starts -->
<h3 class="side-heading">Shopping Options</h3>
<div class="list-group">
  <div class="list-group-item">
    Brands
  </div>
  <div class="list-group-item">
    <div class="filter-group">
      <label class="checkbox">
        <input name="filter1" type="checkbox" value="br1" checked="checked" />
        Brand Name 1
      </label>
    </div>
  </div>
  <div class="list-group-item">
    Manufacturer
  </div>
  <div class="list-group-item">
    <div class="filter-group">
      <label class="radio">
        <input name="filter-manuf" type="radio" value="mr1" checked="checked" />
        Manufacturer Name 1
      </label>
    </div>
  </div>
  <div class="list-group-item">
    <button type="button" class="btn btn-warning">Filter</button>
  </div>
</div>
<!-- Shopping Options Ends -->
<!-- Bestsellers Links Starts -->
<h3 class="side-heading">Bestsellers</h3>
<div class="product-col side-product">
  <% Product.order("RANDOM()").limit(1).each do |p| %>
    <div class="image">
      <%= link_to product_path(p) do %>
        <%= get_photo(p.photos) %>
      <% end %>
    </div>
    <div class="caption">
      <h4>
        <%= link_to(p.title ,product_path(p)) %>
      </h4>
      <div class="description">
        <%= p.description %>
      </div>
      <div class="price">
        <span class="price-new">$<%= p.price %></span>
        <span class="price-old">$249.50</span>
      </div>
      <div class="cart-button button-group">
        <% if p.quantity > 0 %>
          <%= button_to add_to_cart_product_path(p), :class => "btn btn-cart", :method=> :post do %>
            Add to cart<i class="fa fa-shopping-cart"></i>
          <% end %>
        <% else %>
          <p>已售完,補貨中</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
