<!DOCTYPE html>
<html>
<head>
  <title>Artstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %> <%= params[:action] %>">

    <%= render"common/nav" %>
    <div class="banner banner-in"></div>
    <div class="banner" id="ban">
      <div class="container">
        <h1>Our clothing , your comfort</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="#content" class="scroll down"><%= image_tag('arr.png') %></a>
      </div>
    </div>
    <%= notice_message %>
    <div class="container">
      <div class="row">
          <%= yield %>
      </div>
    </div>
    <%= render"common/footer" %>

</body>
</html>
